@tailwind base;

body::-webkit-scrollbar {
  width: 0.4vw;
  background-color: rgb(107 114 128);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(20 184 166);
  border-radius: 4px;
}

@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rbg(--foreground-rgb);
  background: "white";
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "burtons";
  src: url(../public/Burtons.otf);
}
